---
---

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$ocean-blue: rgb(28, 107, 160);
$burnt-orange: rgb(191, 87, 0);
$blood-red: rgb(138, 7, 7);
$forest-green: rgb(38, 106, 46);

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {
  color: $forest-green;
}

a {
  color: $ocean-blue;
  text-decoration: none;

  &:hover {
    font-weight: bolder;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

#container {
  max-width: 800px;
  margin: auto;
}

header {
  color: $blood-red;
  margin: 25px 0px;
  @extend .clearfix;
}

footer {
  margin-top: 25px;
  font-size: small;
  color: $burnt-orange;

  p {
    margin: 5px 0px;
  }
}

.title {
  float: left;
  margin: 0px;
  font-size: large;
}

.menu {
  float: right;

  a {
    margin: 0px 3px;
  }
}
