---
---

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$blue: #0087BD; // NCS blue
$orange: #EE7F2D; // Princeton
$red: #C40233; // NCS red
$green: #009F6B; // NCS green
$black: #333; // avoid pure black
$gray: #696969;
$white: #FFF;
$twitter-blue: #1da1f2;
$github-black: #24292e;

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {
  color: $green;
}

a {
  color: $blue;
  text-decoration: none;

  &:not(.anchorjs-link):hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
}

#container {
  max-width: 750px;
  margin: auto;
}

header {
  color: $red;
  margin: 25px 0px;
  @extend .clearfix;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: .9rem;
  color: $orange;

  p {
    margin: 5px 0px;
  }
}

.title {
  float: left;
  margin: 0px;
  font-size: large;

  @media screen and (max-width: 475px) {
    float: none;
  }
}

.menu {
  float: right;

  a {
    margin: 0px 3px;
  }

  @media screen and (max-width: 475px) {
    float: none;

    margin-top: 10px;

    a {
      margin: 0px 0px;
    }
  }
}

blockquote {
  color: $gray;
  padding-left: 15px;
  border-left: 2px solid #CCC;
}

img {
  border-radius: 8px;
  max-width: 100%;
}

#social-buttons {
  margin-top: 20px;
  margin-bottom: 15px;
}

.link-button {
  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    text-decoration: none;
  }

  border-radius: 3px;
  color: $white;
  padding: 6px 17px;
}

.twitter {
  background-color: $twitter-blue;
  &:hover {
    background-color: darken($twitter-blue, 10%);
  }
}

.github {
  background-color: $github-black;
  &:hover {
    background-color: darken($github-black, 10%);
  }
}

.email {
  background-color: $red;
  &:hover {
    background-color: darken($red, 10%);
  }
}
