h1 {
  margin-bottom: 0em;
}

.subheader {
  color: #999999;
  font-size: 0.9em;
  margin-bottom: 2em;
  margin-top: 0.8em;
}

.follow-up-message {
  font-size: 0.9em;
  color: #999999;
}

.previous-link {
  float: left;
  text-align: left;
  width: 48%;
  font-size: 0.9em;
}

.next-link {
  float: right;
  text-align: right;
  width: 48%;
  font-size: 0.9em;
}

.copy-code-button {
  color: #272822;
  background-color: #fff;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;

  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.copy-code-button:focus {
  /* avoid an ugly focus outline on click in Chrome, but darken the button
     for accessibility. https://stackoverflow.com/a/25298082/1481479 */
  background-color: #e6e6e6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #d9d9d9;
}

pre.astro-code {
  /* Avoid pushing up the copy buttons */
  margin-top: 0;
  border-radius: 4px;
  padding: 8px;
  overflow-x: auto;
}

pre.astro-code code {
  /* Otherwise, overflow text hits the edge of the block */
  margin-right: 8px;
  display: inline-block;
}

/* Lines that are highlighted */
pre.astro-code code > span[style*="display:block;"] {
  margin-left: -10px;
  padding-left: 5px;
  border-left: 5px solid #ee7f2d;
}

.warning {
  background-color: #fcf4a3;
  padding: 10px;
  border-radius: 4px;
  color: #180d01;
}

.warning .label {
  font-weight: bold;
}

.warning p {
  margin-top: 5px;
  margin-bottom: 5px;
}
