/*
$blue: #0087BD; // NCS blue
$orange: #EE7F2D; // Princeton
$red: #C40233; // NCS red
$green: #009F6B; // NCS green
$black: #333; // avoid pure black
$gray: #696969;
$white: #FFF;
$twitter-blue: #1da1f2;
$github-black: #24292e;
*/

.clearfix:after, header:after {
  content: '';
  display: table;
  clear: both;
}

h1 {
  color: #009F6B;
}

a {
  color: #0087BD;
  text-decoration: none;
}

a:not(.anchorjs-link):not(.link-button):hover {
  text-decoration: underline;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

code {
  background-color: #F6F6F6;
  border-radius: 4px;
  color: #C40233;
  padding: 2px 4px;
}

#container {
  max-width: 750px;
  margin: auto;
}

header {
  color: #C40233;
  margin: 25px 0px;
}

hr {
  border: 1px solid #eee;
}

hr.comments-separator {
  margin-bottom: 50px;
}

.comments-separator {
  margin-top: 40px;
}

footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: .9rem;
  color: #EE7F2D;
}

footer p {
  margin: 5px 0px;
}

.title {
  float: left;
  margin: 0px;
  font-size: large;
}

@media screen and (max-width: 475px) {
  .title {
    float: none;
  }
}

.menu {
  float: right;
}

.menu a {
  margin: 0px 3px;
}

@media screen and (max-width: 475px) {
  .menu {
    float: none;
    margin-top: 10px;
  }
  .menu a {
    margin: 0px 0px;
  }
}

blockquote {
  color: #696969;
  padding-left: 15px;
  border-left: 2px solid #CCC;
}

.highlight pre {
  border-radius: 3px;
  padding: 8px;
}

img {
  border-radius: 8px;
  max-width: 100%;
}

#social-buttons {
  margin-top: 20px;
  margin-bottom: 15px;
}

.link-button {
  border-radius: 3px;
  color: #FFF;
  padding: 6px 17px;
}

.link-button:not(:last-child) {
  margin-right: 10px;
}

.twitter {
  background-color: #1da1f2;
}

.twitter:hover {
  background-color: #0c85d0;
}

.github {
  background-color: #24292e;
}

.github:hover {
  background-color: #0e1011;
}

.email {
  background-color: #C40233;
}

.email:hover {
  background-color: #920126;
}
