/*
$blue: #0087BD; // NCS blue
$orange: #EE7F2D; // Princeton
$red: #C40233; // NCS red
$green: #009F6B; // NCS green
$black: #333; // avoid pure black
$gray: #696969;
$white: #FFF;
$twitter-blue: #1da1f2;
$github-black: #24292e;
*/

.clearfix:after, header:after {
  content: '';
  display: table;
  clear: both;
}

/* https://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */
::selection {
  background-color: #C40233;
  color: #FFF;
}
::-moz-selection {
  background-color: #C40233;
  color: #FFF;
}

h1 {
  color: #009F6B;
}

a {
  color: #0087BD;
  text-decoration: none;
}

/* Animated link underline on hover
   Adapted from https://codepen.io/shshaw/details/pdyJBW */
a:not(.anchor):not(.link-button) {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:not(.anchor):not(.link-button):hover {
  background-size: 100% 2px;
}

.icon-link {
  font-size: 0.7em;
  margin-left: 0.6em;
  margin-bottom: 1px;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Don't apply to syntax highlighting for code examples. */
:not(pre) > code {
  background-color: #F6F6F6;
  border-radius: 4px;
  color: #C40233;
  padding: 2px 4px;
}

#container {
  max-width: 750px;
  margin: auto;
}

header {
  color: #C40233;
  margin: 25px 0px;
}

hr {
  border: 1px solid #eee;
}

hr.comments-separator {
  margin-bottom: 50px;
}

.comments-separator {
  margin-top: 40px;
}

footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: .9rem;
  color: #EE7F2D;
}

footer p {
  margin: 5px 0px;
}

.title {
  float: left;
  margin: 0px;
  font-size: large;
}

@media screen and (max-width: 475px) {
  .title {
    float: none;
  }
}

.menu {
  float: right;
}

.menu a {
  margin: 0px 3px;
}

@media screen and (max-width: 475px) {
  .menu {
    float: none;
    margin-top: 10px;
  }
  .menu a {
    margin: 0px 0px;
  }
}

blockquote {
  color: #696969;
  padding-left: 15px;
  border-left: 2px solid #CCC;
}

.highlight pre {
  border-radius: 3px;
  padding: 8px;
}

img {
  border-radius: 8px;
  max-width: 100%;
}

#social-buttons {
  margin-bottom: 0.8em;
}

.link-button {
  align-items: center;
  border-radius: 3px;
  color: #FFF;
  display: inline-flex;
  padding: 0.3em 1em;
}

.link-button .icon {
  margin-right: 0.4em;
}

.link-button:not(:last-child) {
  margin-right: 10px;
}

.twitter {
  background-color: #1da1f2;
}

.twitter:hover {
  background-color: #0c85d0;
}

.github {
  background-color: #24292e;
}

.github:hover {
  background-color: #0e1011;
}

.email {
  background-color: #C40233;
}

.email:hover {
  background-color: #920126;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
