h1 {
  margin-bottom: 0em;
}

.subheader {
  color: #999999;
  font-size: 0.9em;
  margin-bottom: 2em;
  margin-top: 0.8em;
}

.previous-link {
  float: left;
  text-align: left;
  width: 48%;
}

.next-link {
  float: right;
  text-align: right;
  width: 48%;
}
