{{ define "head-extra" }}
    <link rel="stylesheet" href="/css/post.css" type="text/css" />

    {{ with .Params.canonicalUrl }}
        <link rel="canonical" href="{{.}}" />
    {{ end }}
{{ end }}

{{ define "main" }}
    <article>
        <h1>{{ .Title }}</h1>

        <div class="subheader">{{ if ne .Date .Lastmod }}Updated on <time itemprop="dateModified" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "January 2, 2006" }}</time>&nbsp;&nbsp;·&nbsp;&nbsp;Published on {{ end }}<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{.Date.Format "January 2, 2006"}}</time>{{ if eq .Date .Lastmod }}&nbsp;&nbsp;·&nbsp;&nbsp;{{ else }}<br>{{ end }}{{ .WordCount | lang.NumFmt 0 }} words&nbsp;&nbsp;·&nbsp;&nbsp;~{{ .ReadingTime | lang.NumFmt 0 }} minute{{ if not (eq .ReadingTime 1) }}s{{ end }} to read</div>

        {{ partial "anchor.html" .Content }}
    </article>

    <hr class="separator">

    <div class="clearfix">
        {{ with .PrevInSection }}
            {{ if (not .Params.unlisted) }}
                <span class="previous-link">
                    <a href="{{ .Permalink }}">← {{ .Title }}</a>
                </span>
            {{ end }}
        {{ end }}

        {{ with .NextInSection }}
            {{ if (not .Params.unlisted) }}
                <span class="next-link">
                    <a href="{{ .Permalink }}">{{ .Title }} →</a>
                </span>
            {{ end }}
        {{ end }}
    </div>

    <hr class="separator">

    <p class="follow-up-message">
        Follow me on <a href="https://twitter.com/{{ .Site.Author.twitter }}">Twitter</a> or subscribe to my <a href="/newsletter">free newsletter</a> or <a href="{{ "/blog/feed.xml" | absURL }}" type="application/rss+xml">RSS feed</a> for future posts.
    </p>

    <p class="follow-up-message">
        Found an error or typo? Feel free to open a pull request on
        <a href="{{ .Site.Params.sourceCodeRepo }}/content/{{ .File.Path }}">GitHub</a>.
    </p>

    <hr class="separator">

    {{ template "_internal/disqus.html" . }}

    <div class="separator">
{{ end }}

{{ define "js-extra" }}
    {{ if (findRE "<pre" .Content 1) }}
        <script src="/js/copy-code-button.js"></script>
    {{ end  }}
{{ end  }}
