<!DOCTYPE html>
<html>
    <head>
        {{ partial "default-head.html" . }}
    </head>
    <body>
        <div id="container">
            {{ partial "header.html" . }}

            {{ .Content }}

            {{ range .Data.Pages.ByDate.Reverse }}
                <p>
                    <span>{{.Date.Format "2006-01-02"}} </span><a href="{{.Permalink}}">{{.Title}}</a>
                </p>
            {{ end }}

            {{ partial "footer.html" . }}
        </div>

        {{ partial "default-js.html" . }}
    </body>
</html>
