---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Whoops!</h1>

    <p>
        Sorry, but I can't find that page for you. Try going to the
        <a href="/">homepage</a>.
    </p>

    <img src="https://i.imgur.com/qickpZA.jpg" alt="Sad rabbit" />
</BaseLayout>
