---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!-- MailerLite Universal -->
<script>
    // prettier-ignore
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
    var ml_account = ml("accounts", "1364592", "e5o7c0a7j7", "load");
</script>

<style is:global>
    /* The header is only necessary on the standalone form page. */
    .ml-form-embedContent h4 {
        display: none;
    }
</style>

<BaseLayout title="Danny Guo · Newsletter">
    <p>
        To get updates on my new <a href="/blog">posts</a>, you can subscribe to
        my free newsletter. I won't share your email address with anyone, and
        you can unsubscribe anytime.
    </p>

    <div
        class="ml-form-embed"
        data-account="1364592:e5o7c0a7j7"
        data-form="1162348:b2q7v2"
    >
    </div>

    <p>
        You can also follow me on
        <a href="https://twitter.com/{{ .Site.Author.twitter }}">Twitter</a> or subscribe
        to <a href="/blog/feed.xml" type="application/rss+xml">my RSS feed</a>.
    </p>
</BaseLayout>
