---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!-- MailerLite Universal -->
<script>
    // prettier-ignore
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '796104');
</script>

<BaseLayout title="Danny Guo · Newsletter">
    <p>
        To get updates on my new <a href="/blog">posts</a>, you can subscribe to
        my free newsletter. I won't share your email address with anyone, and
        you can unsubscribe anytime.
    </p>

    <div class="ml-embedded" data-form="7m0QtF"></div>

    <p>
        You can also follow me on
        <a href="https://twitter.com/{{ .Site.Author.twitter }}">Twitter</a> or subscribe
        to <a href="/blog/feed.xml" type="application/rss+xml">my RSS feed</a>.
    </p>
</BaseLayout>
