<script
    src="https://product-gallery.cloudinary.com/all.js"
    type="text/javascript"
></script>

<div id="gallery"></div>

<script type="text/javascript">
    const gallery = cloudinary.galleryWidget({
        container: "#gallery",
        cloudName: "dx5q4fbsn",
        mediaAssets: [{ tag: "card", mediaType: "image" }],
    });

    gallery.render();
</script>
