<hr>

<footer>
    <p id="social-buttons">
        {{with .Site.Author.twitter}}<a href="https://twitter.com/{{.}}" class="link-button twitter">
            <svg class="icon icon-twitter">
                <use xlink:href="/images/icons.svg#icon-twitter"></use>
            </svg>
            Twitter
        </a>{{end}}
        {{with .Site.Author.github}}<a href="https://github.com/{{.}}" class="link-button github">
            <svg class="icon icon-github">
                <use xlink:href="/images/icons.svg#icon-github"></use>
            </svg>
            GitHub
        </a>{{end}}
        {{with .Site.Author.email }}<a href="mailto:{{.}}" class="link-button email">
            <svg class="icon icon-mail">
                <use xlink:href="/images/icons.svg#icon-mail"></use>
            </svg>
            Email
        </a>{{end}}
    </p>

    <p>
        You can encrypt messsages with my <a href="/keys">GPG key</a> if you'd like.
    </p>

    <p>
        &copy;
        <span id="copyright-year">{{ now.Year }}</span>
        <script type="text/javascript">
            document.getElementById('copyright-year').textContent = new Date().getFullYear();
        </script>
        {{ .Site.Author.name }}
    </p>

    <p>
        This content is licensed under
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> and
     <a href="{{ .Site.Params.sourceCodeRepo }}">
            hosted on GitHub</a>.
    </p>

    <p>
        As an Amazon Associate I earn from qualifying purchases.
    </p>
</footer>
