<hr>

<footer>
    <p id="social-buttons">
        <a href="https://twitter.com/dannyguo" class="link-button twitter">
            <svg class="icon icon-twitter">
                <use xlink:href="/images/icons.svg#icon-twitter"></use>
            </svg>
            Twitter
        </a>
        <a href="https://github.com/dguo" class="link-button github">
            <svg class="icon icon-github">
                <use xlink:href="/images/icons.svg#icon-github"></use>
            </svg>
            GitHub
        </a>
        <a href="mailto:dannyguo91@gmail.com" class="link-button email">
            <svg class="icon icon-mail">
                <use xlink:href="/images/icons.svg#icon-mail"></use>
            </svg>
            Email
        </a>
    </p>

    <p>
        Encrypt messages with my
        <a href="/keys">key</a>
        if they must be secure.
    </p>

    <p>
        &copy;
        <span id="copyright-year">{{ now.Year }}</span>
        <script type="text/javascript">
            document.getElementById('copyright-year').textContent = new Date().getFullYear();
        </script>
        Danny Guo
    </p>

    <p>
        This content is licensed under
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> and
     <a href="https://github.com/dguo/dguo.github.io">
            hosted on GitHub</a>.
    </p>
</footer>
