<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="flattr:id" content="g6gjzx">

<!-- RSS autodiscovery -->
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Author.name }}" href="{{ "/blog/feed.xml" | absURL }}" />

<link rel="stylesheet" href="/css/general.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro&display=swap" rel="stylesheet">

{{ if (findRE "<code|<pre" .Content 1) }}
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
{{ end  }}

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<title>{{ .Title }}</title>

{{ template "_internal/google_analytics_async.html" . }}
