<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="flattr:id" content="g6gjzx">

<!-- RSS autodiscovery -->
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Author.name }}" href="{{ "/blog/feed.xml" | absURL }}" />

<link rel="stylesheet" href="/css/general.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro&display=swap" rel="stylesheet">

{{ if (findRE "<code|<pre" .Content 1) }}
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
{{ end  }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
<link rel="manifest" href="/site.webmanifest?v=2">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#c40233">
<link rel="shortcut icon" href="/favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#c40233">
<meta name="theme-color" content="#ffffff">

<title>{{ .Title }}</title>

<!-- Plausible -->
<script
    defer
    data-domain="dannyguo.com"
    data-api="/blueberry-cobbler/api/event"
    src="/blueberry-cobbler/js/script.js">
</script>

<!-- Universal Analytics -->
{{ template "_internal/google_analytics_async.html" . }}
